<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Verify Code</label>
    <div class="login-form">
      <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="group ui-grid-row">
          <div class="ui-grid-col-4" style="padding: 20px;">
            <label class="label">Email</label></div>
          <div class="ui-grid-col-6">
            <input pInputText class="input" type="email" formControlName="email" placeholder="Required"/></div>
          <div class="ui-grid-col-6">
            <br>
            <p-message severity="error" text="Email is required" *ngIf="!form.controls['email'].valid&&form.controls['email'].dirty"></p-message>
          </div>
        </div>
        <div class="group ui-grid-row">
          <button pButton type="submit" class="button" label="Submit" [disabled]="!form.valid">SEND CODE</button>
          <br>
          <p-message severity="error" text="{{error}}" *ngIf="error"></p-message>
        </div>
      </form>
    </div>
  </div>
</div>
