<button type="button" style="margin: 5px" (click)="setRole('ProjectManager')" pButton  label="Set as Project Manager"></button>
<button type="button" style="margin: 5px"  (click)="setRole('Developer')" pButton
        label="Set as Developer"></button>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div *ngIf="users && users.length>0">
  <p-table #dt [columns]="cols" [value]="users" [(selection)]="user" [paginator]="true" [rows]="10" >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>
<div *ngIf="users && users.length === 0">
  No Users Found
</div>
