


<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Verify Code</label>
    <div class="login-form">
      <form (ngSubmit)="changePassword(form.value)" [formGroup]="form">
        <div class="group ui-grid-row">
          <div class="ui-grid-col-4" style="padding: 20px;">
            <label class="label">Email</label></div>
          <div class="ui-grid-col-6">
            <input pInputText class="input" type="email" formControlName="email" placeholder="Required"/></div>
          <div class="ui-grid-col-6">
           <p-message severity="error" text="Email is required" *ngIf="!form.controls['email'].valid&&form.controls['email'].dirty"></p-message>
          </div>
        </div>
        <div class="group ui-grid-row">
          <div class="ui-grid-col-4" style="padding: 20px;">
            <label class="label">Password</label></div>
          <div class="ui-grid-col-6">
            <input pInputText class="input" type="password" formControlName="password" placeholder="Required - Min(8)"/></div>
          <div class="ui-grid-col-6">
           <p-message severity="error" [text]="form.controls['password'].errors['required'] ? 'Password is required' : form.controls['password'].errors['minlength'] ? 'Must be longer than 8 characters' : ''"
                       *ngIf="!form.controls['password'].valid&&form.controls['password'].dirty"></p-message>
         </div>
        </div>
        <div class="group ui-grid-row">
          <div class="ui-grid-col-4" style="padding: 20px;">
            <label class="label">Verification Code</label></div>
          <div class="ui-grid-col-6">
            <input pInputText class="input" type="text" formControlName="code" placeholder="Required"/></div>
          <div class="ui-grid-col-6">
            <p-message severity="error" text="Verification Code is required"
                       *ngIf="!form.controls['code'].valid&&form.controls['code'].dirty"></p-message>
          </div>
        </div>
        <div class="group ui-grid-row">
          <button pButton type="submit" class="button" label="Submit" [disabled]="!form.valid">CONFIRM</button>
          <br>
          <div class="foot-lnk">
            <a style="text-align: center;color: #ffffff;text-decoration: underline"  routerLink="../">Resend email</a>
          </div>
<br>
          <p-message severity="error" text="{{error}}" *ngIf="error"></p-message>
        </div>
      </form>
    </div>
  </div>
</div>
